html, 
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--violet);
}

:root {
    --blueMarine: rgb(3, 255, 217);
    --blue: rgb(0, 204, 208);
    --purple: rgb(175, 0, 206);
    --violet: rgb(117, 0, 200);
}


/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.355);

    padding: 5px;
    background: linear-gradient(to right,var(--blue), var(--purple) );

}

header h1 {
    margin: 0px;
}

header img{
    width: 50px;
}

.menuIcon{
    width: 40px;
}

#back{
    position: absolute;
    right: 10px;
    top: 10px;
}

@keyframes appear{
    0%{
        width: 10px;
    }

    100%{
        width: calc(100% - 40px);
    }
}

nav{
    flex-direction: column;
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;

    justify-content: space-around;
    align-items: center;
    padding: 20px;

    background: linear-gradient(to right,var(--blue), var(--purple) );
    animation: appear 0.5s;

    box-shadow: 0px 3px 10px 5px black;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
    width: 130px;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

/* main */
main{
    margin-top: 70px;
}

section{
    margin: 10px;
    padding: 5px;

    background-color: var(--blueMarine);
}

section h3{
    margin-top: 0px;
}

#sobre h3{
    margin-bottom: 0px;
}

.pacotes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pacote{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: 200px;

    background-color: rgba(0, 0, 0, 0.31);
    border: solid 1px black;

    padding: 5px;
    margin: 3px;
}

.pacote h4{
    font-size: 150%;
    margin: 0px;
    align-self: center;
}

#cardapio{
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
}

section h2{
    align-self: center;
}


#mapa{
    width: 90%;
    align-self: center;
    margin: 10px;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);

    font-size: 15px;
}