html, 
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--goldv1);
    color: whitesmoke;
}

:root {
    --blackv1: #0d0d0d;
    --blackv2: #020A0E;
    --greenv1: #020F14;
    --grayv1: #202D40;
    --grayv2: #677189;
    --goldv1: #BD7418;
    --whitev1: #e2e2e2;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.674);

    padding: 5px;
    background: linear-gradient(to right, var(--goldv1), var(--blackv1));

}
#credit {
    display: none;
}

header h1 {
    margin: 0px;
    font-size: 30px;
}

header img{
    width: 50px;
}

.menuIcon{
    width: 40px;
}

#back{
    position: absolute;
    right: 10px;
    top: 10px;
}

@keyframes appear{
    0%{
        width: 10px;
    }

    100%{
        width: calc(100% - 40px);
    }
}

#nave{
    flex-direction: column;
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;

    justify-content: space-around;
    align-items: center;
    padding: 20px;

    background: linear-gradient(to right,var(--goldv1), var(--blackv1) );
    animation: appear 0.5s;

    box-shadow: 0px 3px 10px 5px black;
}


#nave a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    text-align: center;
}

#nave a:hover {
    text-decoration: underline;
}

.desktopmenu{
    display: none;
}

/* main */
main{
    margin-top: 70px;
}

section{
    margin: 10px;
    padding: 5px;

    background-color: var(--blackv1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.88);

    border-top: solid 2px rgba(255, 255, 255, 0.33);
    border-left: solid 2px rgba(255, 255, 255, 0.163) ;
}

section h3{
    margin-top: 0px;
}

#sobre h3{
    margin-bottom: 0px;
}

.pacotes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pacote{
    display: flex;
    flex-direction: column;

    width: 80%;

    background-color: rgba(0, 0, 0, 0.31);
    border: solid 1px black;

    padding: 5px;
    margin: 3px;
}

.pacote h4{
    font-size: 150%;
    margin: 0px;
    align-self: center;
}

.pacote h3 {
    text-align: center;
    text-decoration: underline;
}

.pacote button {
    margin: 2px;
}

#cardapio{
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
}

section h2{
    align-self: center;
}


#mapa{
    width: 90%;
    align-self: center;
    margin: 10px;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--blackv1);

    font-size: 15px;
}

footer p{
    margin: 10px;
}

footer a{
    color: var(--goldv1);
}

a img{
    background-color: #ffffff51;
    border-radius: 5px;
}

@media (min-width: 768px) {

    body {
        margin-left: 20%;
    }

    main{
        margin-top: 5px;
    } 

    header{
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 30%;
        bottom: 0px;
        right: 80%;
    }

    header a {
        font-size: 200%;
        color: white;
        margin-bottom: 20px;
        text-decoration: none;

    }
    
    header a:hover{
        text-decoration: underline;
    }
    header h1{
        display: none;
    }

    header img {
        width: 200px;
    }

    #credit{
        display: block;
        position: absolute;
        bottom: 0px;
    }
    
    .desktopmenu{
        display: flex;
        flex-direction: column;
    }
    
    #back, #btnMenu{
        display: none;
    }

    nav {
        display: flex;
    }

    .pacotes{
        flex-wrap: nowrap;
    }
    .aviso{
        text-align: center;
    }

}